 
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body {
      background: #f5f7f6;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #ffffff;
    }
   
      .logo {
      font-size: 22px;
      font-weight: 600;
      color: #2d7c2d;
    }
      .btn {
      background: #4caf50;
      
      color: #fff;
      border: none;
      padding: 8px 18px;
      border-radius: 6px;
      cursor: pointer;
    
    }

    .btn:hover {

    background-color: #388e3c;
}
.logbtn{
  background: #e74c3c;
      
      color: #fff;
      border: none;
      padding: 8px 8px;
      border-radius: 6px;
      cursor: pointer;
}
.logbtn:hover{
 background: #f16151;
}
section{
padding:30px 40px;
}


table{
border-collapse: collapse;
background:white;
border-radius:10px;
overflow:hidden;
}

th{
background:#f1f3f2;
padding:12px;
text-align:left;
}


td{
padding:12px;
}

td img{
vertical-align:middle;
margin-right:10px;
}


td button{
background:#f1f1f1;
border:none;
padding:6px 8px;
border-radius:5px;
cursor:pointer;
}

td button:hover{
background:#e0e0e0;
}

section div{
margin-top:20px;
display:flex;
gap:6px;
align-items:center;
}

section div button{
padding:6px 12px;
border:1px solid #dcdcdc;
background:white;
border-radius:5px;
cursor:pointer;
font-size:14px;
}

section div button:hover{
background:#4caf50;
color:white;
border-color:#4caf50;
}
