*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body {
      background: #f9fdf9;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: #ffffff;
    }
    
    .logo {
      font-size: 22px;
      font-weight: 600;
      color: #2d7c2d;
    }
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #000000;
      font-weight: 500;
      transition: 0.3 ease;
    }
 nav a:hover {
  color: #7d7d7d; 
}


    .btn {
      background: #4caf50;
      color: #fff;
      border: none;
      padding: 8px 18px;
      border-radius: 6px;
      cursor: pointer;
    
    }

    .btn:hover {

    background-color: #388e3c;
  box-shadow: 0 8px 24px #72C94E;
}